In [3]:
import pandas as pd

In [4]:
df=pd.read_csv(r"C:\Users\DELL\Documents\retail_store_sales.csv")

In [5]:
df.head(20)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,NaN
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False
5,TXN_7482416,CUST_09,Patisserie,NaN,NaN,10.0,200.0,Credit Card,Online,2023-11-30,NaN
6,TXN_3652209,CUST_07,Food,Item_1_FOOD,5.0,8.0,40.0,Credit Card,In-store,2023-06-10,True
7,TXN_1372952,CUST_21,Furniture,NaN,33.5,NaN,NaN,Digital Wallet,In-store,2024-04-02,True
8,TXN_9728486,CUST_23,Furniture,Item_16_FUR,27.5,1.0,27.5,Credit Card,In-store,2023-04-26,False
9,TXN_2722661,CUST_25,Butchers,Item_22_BUT,36.5,3.0,109.5,Cash,Online,2024-03-14,False
10,TXN_8776416,CUST_22,Butchers,Item_3_BUT,8.0,9.0,72.0,Cash,In-store,2024-12-14,True
11,TXN_5422631,CUST_09,Milk Products,NaN,NaN,8.0,52.0,Digital Wallet,In-store,2025-01-12,True
12,TXN_5874772,CUST_23,Food,Item_2_FOOD,6.5,7.0,45.5,Cash,Online,2023-09-09,True
13,TXN_4413070,CUST_14,Patisserie,Item_24_PAT,39.5,6.0,237.0,Digital Wallet,In-store,2022-05-20,False
14,TXN_2490363,CUST_09,Milk Products,Item_16_MILK,27.5,2.0,55.0,Digital Wallet,Online,2022-05-22,NaN
15,TXN_1809665,CUST_14,Beverages,NaN,24.5,NaN,NaN,Credit Card,In-store,2022-05-11,NaN
16,TXN_7563311,CUST_23,Patisserie,Item_17_PAT,29.0,8.0,232.0,Cash,Online,2024-11-16,True
17,TXN_9634894,CUST_15,Milk Products,NaN,NaN,10.0,275.0,Digital Wallet,Online,2022-04-17,NaN
18,TXN_4396807,CUST_17,Electric household essentials,Item_13_EHE,23.0,1.0,23.0,Digital Wallet,In-store,2022-02-07,False
19,TXN_4206593,CUST_01,Furniture,NaN,35.0,NaN,NaN,Digital Wallet,Online,2025-01-13,False

In [162]:
df.isnull().sum()

Transaction ID         0
Customer ID            0
Category               0
Item                1213
Price Per Unit       609
Quantity             604
Total Spent          604
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    4199
dtype: int64

In [164]:
df.duplicated().sum()

0

In [6]:
df["Price Per Unit"]=df["Price Per Unit"].interpolate(method="linear")

In [166]:
df.isnull().sum()

Transaction ID         0
Customer ID            0
Category               0
Item                1213
Price Per Unit         0
Quantity             604
Total Spent          604
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    4199
dtype: int64

In [167]:
df.head(20)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.50,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.00,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.50,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.50,9.0,247.5,Credit Card,Online,2022-05-07,NaN
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.50,7.0,87.5,Digital Wallet,Online,2022-10-02,False
5,TXN_7482416,CUST_09,Patisserie,NaN,8.75,10.0,200.0,Credit Card,Online,2023-11-30,NaN
6,TXN_3652209,CUST_07,Food,Item_1_FOOD,5.00,8.0,40.0,Credit Card,In-store,2023-06-10,True
7,TXN_1372952,CUST_21,Furniture,NaN,33.50,NaN,NaN,Digital Wallet,In-store,2024-04-02,True
8,TXN_9728486,CUST_23,Furniture,Item_16_FUR,27.50,1.0,27.5,Credit Card,In-store,2023-04-26,False
9,TXN_2722661,CUST_25,Butchers,Item_22_BUT,36.50,3.0,109.5,Cash,Online,2024-03-14,False
10,TXN_8776416,CUST_22,Butchers,Item_3_BUT,8.00,9.0,72.0,Cash,In-store,2024-12-14,True
11,TXN_5422631,CUST_09,Milk Products,NaN,7.25,8.0,52.0,Digital Wallet,In-store,2025-01-12,True
12,TXN_5874772,CUST_23,Food,Item_2_FOOD,6.50,7.0,45.5,Cash,Online,2023-09-09,True
13,TXN_4413070,CUST_14,Patisserie,Item_24_PAT,39.50,6.0,237.0,Digital Wallet,In-store,2022-05-20,False
14,TXN_2490363,CUST_09,Milk Products,Item_16_MILK,27.50,2.0,55.0,Digital Wallet,Online,2022-05-22,NaN
15,TXN_1809665,CUST_14,Beverages,NaN,24.50,NaN,NaN,Credit Card,In-store,2022-05-11,NaN
16,TXN_7563311,CUST_23,Patisserie,Item_17_PAT,29.00,8.0,232.0,Cash,Online,2024-11-16,True
17,TXN_9634894,CUST_15,Milk Products,NaN,26.00,10.0,275.0,Digital Wallet,Online,2022-04-17,NaN
18,TXN_4396807,CUST_17,Electric household essentials,Item_13_EHE,23.00,1.0,23.0,Digital Wallet,In-store,2022-02-07,False
19,TXN_4206593,CUST_01,Furniture,NaN,35.00,NaN,NaN,Digital Wallet,Online,2025-01-13,False

In [7]:
df["Quantity"]=df["Quantity"].fillna(df["Quantity"].mean())

In [169]:
df.isnull().sum()

Transaction ID         0
Customer ID            0
Category               0
Item                1213
Price Per Unit         0
Quantity               0
Total Spent          604
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    4199
dtype: int64

In [170]:
df.head(20)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.50,10.00000,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.00,9.00000,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.50,2.00000,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.50,9.00000,247.5,Credit Card,Online,2022-05-07,NaN
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.50,7.00000,87.5,Digital Wallet,Online,2022-10-02,False
5,TXN_7482416,CUST_09,Patisserie,NaN,8.75,10.00000,200.0,Credit Card,Online,2023-11-30,NaN
6,TXN_3652209,CUST_07,Food,Item_1_FOOD,5.00,8.00000,40.0,Credit Card,In-store,2023-06-10,True
7,TXN_1372952,CUST_21,Furniture,NaN,33.50,5.53638,NaN,Digital Wallet,In-store,2024-04-02,True
8,TXN_9728486,CUST_23,Furniture,Item_16_FUR,27.50,1.00000,27.5,Credit Card,In-store,2023-04-26,False
9,TXN_2722661,CUST_25,Butchers,Item_22_BUT,36.50,3.00000,109.5,Cash,Online,2024-03-14,False
10,TXN_8776416,CUST_22,Butchers,Item_3_BUT,8.00,9.00000,72.0,Cash,In-store,2024-12-14,True
11,TXN_5422631,CUST_09,Milk Products,NaN,7.25,8.00000,52.0,Digital Wallet,In-store,2025-01-12,True
12,TXN_5874772,CUST_23,Food,Item_2_FOOD,6.50,7.00000,45.5,Cash,Online,2023-09-09,True
13,TXN_4413070,CUST_14,Patisserie,Item_24_PAT,39.50,6.00000,237.0,Digital Wallet,In-store,2022-05-20,False
14,TXN_2490363,CUST_09,Milk Products,Item_16_MILK,27.50,2.00000,55.0,Digital Wallet,Online,2022-05-22,NaN
15,TXN_1809665,CUST_14,Beverages,NaN,24.50,5.53638,NaN,Credit Card,In-store,2022-05-11,NaN
16,TXN_7563311,CUST_23,Patisserie,Item_17_PAT,29.00,8.00000,232.0,Cash,Online,2024-11-16,True
17,TXN_9634894,CUST_15,Milk Products,NaN,26.00,10.00000,275.0,Digital Wallet,Online,2022-04-17,NaN
18,TXN_4396807,CUST_17,Electric household essentials,Item_13_EHE,23.00,1.00000,23.0,Digital Wallet,In-store,2022-02-07,False
19,TXN_4206593,CUST_01,Furniture,NaN,35.00,5.53638,NaN,Digital Wallet,Online,2025-01-13,False

In [8]:
df["Quantity"]=df["Quantity"].round()

In [53]:
df.head(20)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.50,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.00,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.50,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.50,9.0,247.5,Credit Card,Online,2022-05-07,NaN
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.50,7.0,87.5,Digital Wallet,Online,2022-10-02,False
5,TXN_7482416,CUST_09,Patisserie,NaN,8.75,10.0,200.0,Credit Card,Online,2023-11-30,NaN
6,TXN_3652209,CUST_07,Food,Item_1_FOOD,5.00,8.0,40.0,Credit Card,In-store,2023-06-10,True
7,TXN_1372952,CUST_21,Furniture,NaN,33.50,6.0,NaN,Digital Wallet,In-store,2024-04-02,True
8,TXN_9728486,CUST_23,Furniture,Item_16_FUR,27.50,1.0,27.5,Credit Card,In-store,2023-04-26,False
9,TXN_2722661,CUST_25,Butchers,Item_22_BUT,36.50,3.0,109.5,Cash,Online,2024-03-14,False
10,TXN_8776416,CUST_22,Butchers,Item_3_BUT,8.00,9.0,72.0,Cash,In-store,2024-12-14,True
11,TXN_5422631,CUST_09,Milk Products,NaN,7.25,8.0,52.0,Digital Wallet,In-store,2025-01-12,True
12,TXN_5874772,CUST_23,Food,Item_2_FOOD,6.50,7.0,45.5,Cash,Online,2023-09-09,True
13,TXN_4413070,CUST_14,Patisserie,Item_24_PAT,39.50,6.0,237.0,Digital Wallet,In-store,2022-05-20,False
14,TXN_2490363,CUST_09,Milk Products,Item_16_MILK,27.50,2.0,55.0,Digital Wallet,Online,2022-05-22,NaN
15,TXN_1809665,CUST_14,Beverages,NaN,24.50,6.0,NaN,Credit Card,In-store,2022-05-11,NaN
16,TXN_7563311,CUST_23,Patisserie,Item_17_PAT,29.00,8.0,232.0,Cash,Online,2024-11-16,True
17,TXN_9634894,CUST_15,Milk Products,NaN,26.00,10.0,275.0,Digital Wallet,Online,2022-04-17,NaN
18,TXN_4396807,CUST_17,Electric household essentials,Item_13_EHE,23.00,1.0,23.0,Digital Wallet,In-store,2022-02-07,False
19,TXN_4206593,CUST_01,Furniture,NaN,35.00,6.0,NaN,Digital Wallet,Online,2025-01-13,False

In [9]:
df["Total Spent"]=df["Price Per Unit"]*df["Quantity"]

In [173]:
df["Total Spent"].isnull().sum()

0

In [56]:
df.head(20)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.50,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.00,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.50,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.50,9.0,247.5,Credit Card,Online,2022-05-07,NaN
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.50,7.0,87.5,Digital Wallet,Online,2022-10-02,False
5,TXN_7482416,CUST_09,Patisserie,NaN,8.75,10.0,87.5,Credit Card,Online,2023-11-30,NaN
6,TXN_3652209,CUST_07,Food,Item_1_FOOD,5.00,8.0,40.0,Credit Card,In-store,2023-06-10,True
7,TXN_1372952,CUST_21,Furniture,NaN,33.50,6.0,201.0,Digital Wallet,In-store,2024-04-02,True
8,TXN_9728486,CUST_23,Furniture,Item_16_FUR,27.50,1.0,27.5,Credit Card,In-store,2023-04-26,False
9,TXN_2722661,CUST_25,Butchers,Item_22_BUT,36.50,3.0,109.5,Cash,Online,2024-03-14,False
10,TXN_8776416,CUST_22,Butchers,Item_3_BUT,8.00,9.0,72.0,Cash,In-store,2024-12-14,True
11,TXN_5422631,CUST_09,Milk Products,NaN,7.25,8.0,58.0,Digital Wallet,In-store,2025-01-12,True
12,TXN_5874772,CUST_23,Food,Item_2_FOOD,6.50,7.0,45.5,Cash,Online,2023-09-09,True
13,TXN_4413070,CUST_14,Patisserie,Item_24_PAT,39.50,6.0,237.0,Digital Wallet,In-store,2022-05-20,False
14,TXN_2490363,CUST_09,Milk Products,Item_16_MILK,27.50,2.0,55.0,Digital Wallet,Online,2022-05-22,NaN
15,TXN_1809665,CUST_14,Beverages,NaN,24.50,6.0,147.0,Credit Card,In-store,2022-05-11,NaN
16,TXN_7563311,CUST_23,Patisserie,Item_17_PAT,29.00,8.0,232.0,Cash,Online,2024-11-16,True
17,TXN_9634894,CUST_15,Milk Products,NaN,26.00,10.0,260.0,Digital Wallet,Online,2022-04-17,NaN
18,TXN_4396807,CUST_17,Electric household essentials,Item_13_EHE,23.00,1.0,23.0,Digital Wallet,In-store,2022-02-07,False
19,TXN_4206593,CUST_01,Furniture,NaN,35.00,6.0,210.0,Digital Wallet,Online,2025-01-13,False

In [174]:
df.isnull().sum()

Transaction ID         0
Customer ID            0
Category               0
Item                1213
Price Per Unit         0
Quantity               0
Total Spent            0
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    4199
dtype: int64

In [10]:
df["Discount Applied"]=df["Discount Applied"].ffill()

C:\Users\DELL\AppData\Local\Temp\ipykernel_15264\3381526132.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Discount Applied"]=df["Discount Applied"].ffill()

In [176]:
df.head(20)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.50,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.00,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.50,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.50,9.0,247.5,Credit Card,Online,2022-05-07,False
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.50,7.0,87.5,Digital Wallet,Online,2022-10-02,False
5,TXN_7482416,CUST_09,Patisserie,NaN,8.75,10.0,87.5,Credit Card,Online,2023-11-30,False
6,TXN_3652209,CUST_07,Food,Item_1_FOOD,5.00,8.0,40.0,Credit Card,In-store,2023-06-10,True
7,TXN_1372952,CUST_21,Furniture,NaN,33.50,6.0,201.0,Digital Wallet,In-store,2024-04-02,True
8,TXN_9728486,CUST_23,Furniture,Item_16_FUR,27.50,1.0,27.5,Credit Card,In-store,2023-04-26,False
9,TXN_2722661,CUST_25,Butchers,Item_22_BUT,36.50,3.0,109.5,Cash,Online,2024-03-14,False
10,TXN_8776416,CUST_22,Butchers,Item_3_BUT,8.00,9.0,72.0,Cash,In-store,2024-12-14,True
11,TXN_5422631,CUST_09,Milk Products,NaN,7.25,8.0,58.0,Digital Wallet,In-store,2025-01-12,True
12,TXN_5874772,CUST_23,Food,Item_2_FOOD,6.50,7.0,45.5,Cash,Online,2023-09-09,True
13,TXN_4413070,CUST_14,Patisserie,Item_24_PAT,39.50,6.0,237.0,Digital Wallet,In-store,2022-05-20,False
14,TXN_2490363,CUST_09,Milk Products,Item_16_MILK,27.50,2.0,55.0,Digital Wallet,Online,2022-05-22,False
15,TXN_1809665,CUST_14,Beverages,NaN,24.50,6.0,147.0,Credit Card,In-store,2022-05-11,False
16,TXN_7563311,CUST_23,Patisserie,Item_17_PAT,29.00,8.0,232.0,Cash,Online,2024-11-16,True
17,TXN_9634894,CUST_15,Milk Products,NaN,26.00,10.0,260.0,Digital Wallet,Online,2022-04-17,True
18,TXN_4396807,CUST_17,Electric household essentials,Item_13_EHE,23.00,1.0,23.0,Digital Wallet,In-store,2022-02-07,False
19,TXN_4206593,CUST_01,Furniture,NaN,35.00,6.0,210.0,Digital Wallet,Online,2025-01-13,False

In [11]:
df["Item"]=df["Item"].ffill()

In [79]:
df.head(20)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.50,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.00,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.50,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.50,9.0,247.5,Credit Card,Online,2022-05-07,False
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.50,7.0,87.5,Digital Wallet,Online,2022-10-02,False
5,TXN_7482416,CUST_09,Patisserie,Item_6_FOOD,8.75,10.0,87.5,Credit Card,Online,2023-11-30,False
6,TXN_3652209,CUST_07,Food,Item_1_FOOD,5.00,8.0,40.0,Credit Card,In-store,2023-06-10,True
7,TXN_1372952,CUST_21,Furniture,Item_1_FOOD,33.50,6.0,201.0,Digital Wallet,In-store,2024-04-02,True
8,TXN_9728486,CUST_23,Furniture,Item_16_FUR,27.50,1.0,27.5,Credit Card,In-store,2023-04-26,False
9,TXN_2722661,CUST_25,Butchers,Item_22_BUT,36.50,3.0,109.5,Cash,Online,2024-03-14,False
10,TXN_8776416,CUST_22,Butchers,Item_3_BUT,8.00,9.0,72.0,Cash,In-store,2024-12-14,True
11,TXN_5422631,CUST_09,Milk Products,Item_3_BUT,7.25,8.0,58.0,Digital Wallet,In-store,2025-01-12,True
12,TXN_5874772,CUST_23,Food,Item_2_FOOD,6.50,7.0,45.5,Cash,Online,2023-09-09,True
13,TXN_4413070,CUST_14,Patisserie,Item_24_PAT,39.50,6.0,237.0,Digital Wallet,In-store,2022-05-20,False
14,TXN_2490363,CUST_09,Milk Products,Item_16_MILK,27.50,2.0,55.0,Digital Wallet,Online,2022-05-22,False
15,TXN_1809665,CUST_14,Beverages,Item_16_MILK,24.50,6.0,147.0,Credit Card,In-store,2022-05-11,False
16,TXN_7563311,CUST_23,Patisserie,Item_17_PAT,29.00,8.0,232.0,Cash,Online,2024-11-16,True
17,TXN_9634894,CUST_15,Milk Products,Item_17_PAT,26.00,10.0,260.0,Digital Wallet,Online,2022-04-17,True
18,TXN_4396807,CUST_17,Electric household essentials,Item_13_EHE,23.00,1.0,23.0,Digital Wallet,In-store,2022-02-07,False
19,TXN_4206593,CUST_01,Furniture,Item_13_EHE,35.00,6.0,210.0,Digital Wallet,Online,2025-01-13,False

In [178]:
df.isnull().sum()

Transaction ID      0
Customer ID         0
Category            0
Item                0
Price Per Unit      0
Quantity            0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
Discount Applied    0
dtype: int64

In [12]:
df["Item"]=df["Item"].str.split("_").str[-1]

In [180]:
df.head(20)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,PAT,18.50,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,MILK,29.00,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,BUT,21.50,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,BEV,27.50,9.0,247.5,Credit Card,Online,2022-05-07,False
4,TXN_4575373,CUST_05,Food,FOOD,12.50,7.0,87.5,Digital Wallet,Online,2022-10-02,False
5,TXN_7482416,CUST_09,Patisserie,FOOD,8.75,10.0,87.5,Credit Card,Online,2023-11-30,False
6,TXN_3652209,CUST_07,Food,FOOD,5.00,8.0,40.0,Credit Card,In-store,2023-06-10,True
7,TXN_1372952,CUST_21,Furniture,FOOD,33.50,6.0,201.0,Digital Wallet,In-store,2024-04-02,True
8,TXN_9728486,CUST_23,Furniture,FUR,27.50,1.0,27.5,Credit Card,In-store,2023-04-26,False
9,TXN_2722661,CUST_25,Butchers,BUT,36.50,3.0,109.5,Cash,Online,2024-03-14,False
10,TXN_8776416,CUST_22,Butchers,BUT,8.00,9.0,72.0,Cash,In-store,2024-12-14,True
11,TXN_5422631,CUST_09,Milk Products,BUT,7.25,8.0,58.0,Digital Wallet,In-store,2025-01-12,True
12,TXN_5874772,CUST_23,Food,FOOD,6.50,7.0,45.5,Cash,Online,2023-09-09,True
13,TXN_4413070,CUST_14,Patisserie,PAT,39.50,6.0,237.0,Digital Wallet,In-store,2022-05-20,False
14,TXN_2490363,CUST_09,Milk Products,MILK,27.50,2.0,55.0,Digital Wallet,Online,2022-05-22,False
15,TXN_1809665,CUST_14,Beverages,MILK,24.50,6.0,147.0,Credit Card,In-store,2022-05-11,False
16,TXN_7563311,CUST_23,Patisserie,PAT,29.00,8.0,232.0,Cash,Online,2024-11-16,True
17,TXN_9634894,CUST_15,Milk Products,PAT,26.00,10.0,260.0,Digital Wallet,Online,2022-04-17,True
18,TXN_4396807,CUST_17,Electric household essentials,EHE,23.00,1.0,23.0,Digital Wallet,In-store,2022-02-07,False
19,TXN_4206593,CUST_01,Furniture,EHE,35.00,6.0,210.0,Digital Wallet,Online,2025-01-13,False

In [13]:
category_item_map = (
    df.dropna(subset=["Item"])
      .groupby("Category")["Item"]
      .agg(lambda x: x.mode()[0])
)

In [14]:
df["Item"] = df["Item"].fillna(df["Category"].map(category_item_map))

In [183]:
df.isnull().sum()

Transaction ID      0
Customer ID         0
Category            0
Item                0
Price Per Unit      0
Quantity            0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
Discount Applied    0
dtype: int64

In [184]:
df.head(20)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,PAT,18.50,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,MILK,29.00,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,BUT,21.50,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,BEV,27.50,9.0,247.5,Credit Card,Online,2022-05-07,False
4,TXN_4575373,CUST_05,Food,FOOD,12.50,7.0,87.5,Digital Wallet,Online,2022-10-02,False
5,TXN_7482416,CUST_09,Patisserie,FOOD,8.75,10.0,87.5,Credit Card,Online,2023-11-30,False
6,TXN_3652209,CUST_07,Food,FOOD,5.00,8.0,40.0,Credit Card,In-store,2023-06-10,True
7,TXN_1372952,CUST_21,Furniture,FOOD,33.50,6.0,201.0,Digital Wallet,In-store,2024-04-02,True
8,TXN_9728486,CUST_23,Furniture,FUR,27.50,1.0,27.5,Credit Card,In-store,2023-04-26,False
9,TXN_2722661,CUST_25,Butchers,BUT,36.50,3.0,109.5,Cash,Online,2024-03-14,False
10,TXN_8776416,CUST_22,Butchers,BUT,8.00,9.0,72.0,Cash,In-store,2024-12-14,True
11,TXN_5422631,CUST_09,Milk Products,BUT,7.25,8.0,58.0,Digital Wallet,In-store,2025-01-12,True
12,TXN_5874772,CUST_23,Food,FOOD,6.50,7.0,45.5,Cash,Online,2023-09-09,True
13,TXN_4413070,CUST_14,Patisserie,PAT,39.50,6.0,237.0,Digital Wallet,In-store,2022-05-20,False
14,TXN_2490363,CUST_09,Milk Products,MILK,27.50,2.0,55.0,Digital Wallet,Online,2022-05-22,False
15,TXN_1809665,CUST_14,Beverages,MILK,24.50,6.0,147.0,Credit Card,In-store,2022-05-11,False
16,TXN_7563311,CUST_23,Patisserie,PAT,29.00,8.0,232.0,Cash,Online,2024-11-16,True
17,TXN_9634894,CUST_15,Milk Products,PAT,26.00,10.0,260.0,Digital Wallet,Online,2022-04-17,True
18,TXN_4396807,CUST_17,Electric household essentials,EHE,23.00,1.0,23.0,Digital Wallet,In-store,2022-02-07,False
19,TXN_4206593,CUST_01,Furniture,EHE,35.00,6.0,210.0,Digital Wallet,Online,2025-01-13,False

In [15]:
import numpy as np

In [16]:
df["Region"]=np.random.choice(["South","North","East","West"], size=len(df))

In [17]:
df

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied,Region
0,TXN_6867343,CUST_09,Patisserie,PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True,South
1,TXN_3731986,CUST_22,Milk Products,MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True,South
2,TXN_9303719,CUST_02,Butchers,BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False,North
3,TXN_9458126,CUST_06,Beverages,BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,False,North
4,TXN_4575373,CUST_05,Food,FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False,West
...,...,...,...,...,...,...,...,...,...,...,...,...
12570,TXN_9347481,CUST_18,Patisserie,PAT,38.0,4.0,152.0,Credit Card,In-store,2023-09-03,False,South
12571,TXN_4009414,CUST_03,Beverages,BEV,6.5,9.0,58.5,Cash,Online,2022-08-12,False,East
12572,TXN_5306010,CUST_11,Butchers,BUT,14.0,10.0,140.0,Cash,Online,2024-08-24,False,South
12573,TXN_5167298,CUST_04,Furniture,FUR,14.0,6.0,84.0,Cash,Online,2023-12-30,True,East
12574,TXN_2407494,CUST_23,Food,FOOD,17.0,3.0,51.0,Cash,Online,2022-08-06,True,South

In [19]:
df.drop(columns=["Location"],inplace=True)

In [20]:
df

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Transaction Date,Discount Applied,Region
0,TXN_6867343,CUST_09,Patisserie,PAT,18.5,10.0,185.0,Digital Wallet,2024-04-08,True,South
1,TXN_3731986,CUST_22,Milk Products,MILK,29.0,9.0,261.0,Digital Wallet,2023-07-23,True,South
2,TXN_9303719,CUST_02,Butchers,BUT,21.5,2.0,43.0,Credit Card,2022-10-05,False,North
3,TXN_9458126,CUST_06,Beverages,BEV,27.5,9.0,247.5,Credit Card,2022-05-07,False,North
4,TXN_4575373,CUST_05,Food,FOOD,12.5,7.0,87.5,Digital Wallet,2022-10-02,False,West
...,...,...,...,...,...,...,...,...,...,...,...
12570,TXN_9347481,CUST_18,Patisserie,PAT,38.0,4.0,152.0,Credit Card,2023-09-03,False,South
12571,TXN_4009414,CUST_03,Beverages,BEV,6.5,9.0,58.5,Cash,2022-08-12,False,East
12572,TXN_5306010,CUST_11,Butchers,BUT,14.0,10.0,140.0,Cash,2024-08-24,False,South
12573,TXN_5167298,CUST_04,Furniture,FUR,14.0,6.0,84.0,Cash,2023-12-30,True,East
12574,TXN_2407494,CUST_23,Food,FOOD,17.0,3.0,51.0,Cash,2022-08-06,True,South

In [21]:
df["City"]=np.random.choice(["New York","Boston","Chicago","Houston","Atlanta","California"],size=len(df))

In [22]:
df

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Transaction Date,Discount Applied,Region,City
0,TXN_6867343,CUST_09,Patisserie,PAT,18.5,10.0,185.0,Digital Wallet,2024-04-08,True,South,California
1,TXN_3731986,CUST_22,Milk Products,MILK,29.0,9.0,261.0,Digital Wallet,2023-07-23,True,South,Atlanta
2,TXN_9303719,CUST_02,Butchers,BUT,21.5,2.0,43.0,Credit Card,2022-10-05,False,North,Atlanta
3,TXN_9458126,CUST_06,Beverages,BEV,27.5,9.0,247.5,Credit Card,2022-05-07,False,North,Boston
4,TXN_4575373,CUST_05,Food,FOOD,12.5,7.0,87.5,Digital Wallet,2022-10-02,False,West,Atlanta
...,...,...,...,...,...,...,...,...,...,...,...,...
12570,TXN_9347481,CUST_18,Patisserie,PAT,38.0,4.0,152.0,Credit Card,2023-09-03,False,South,Houston
12571,TXN_4009414,CUST_03,Beverages,BEV,6.5,9.0,58.5,Cash,2022-08-12,False,East,New York
12572,TXN_5306010,CUST_11,Butchers,BUT,14.0,10.0,140.0,Cash,2024-08-24,False,South,California
12573,TXN_5167298,CUST_04,Furniture,FUR,14.0,6.0,84.0,Cash,2023-12-30,True,East,Boston
12574,TXN_2407494,CUST_23,Food,FOOD,17.0,3.0,51.0,Cash,2022-08-06,True,South,Boston

In [26]:
df["Age"]=np.random.randint(18,68,size=len(df))

In [27]:
df

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Transaction Date,Discount Applied,Region,City,Age
0,TXN_6867343,CUST_09,Patisserie,PAT,18.5,10.0,185.0,Digital Wallet,2024-04-08,True,South,California,20
1,TXN_3731986,CUST_22,Milk Products,MILK,29.0,9.0,261.0,Digital Wallet,2023-07-23,True,South,Atlanta,45
2,TXN_9303719,CUST_02,Butchers,BUT,21.5,2.0,43.0,Credit Card,2022-10-05,False,North,Atlanta,25
3,TXN_9458126,CUST_06,Beverages,BEV,27.5,9.0,247.5,Credit Card,2022-05-07,False,North,Boston,19
4,TXN_4575373,CUST_05,Food,FOOD,12.5,7.0,87.5,Digital Wallet,2022-10-02,False,West,Atlanta,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12570,TXN_9347481,CUST_18,Patisserie,PAT,38.0,4.0,152.0,Credit Card,2023-09-03,False,South,Houston,23
12571,TXN_4009414,CUST_03,Beverages,BEV,6.5,9.0,58.5,Cash,2022-08-12,False,East,New York,27
12572,TXN_5306010,CUST_11,Butchers,BUT,14.0,10.0,140.0,Cash,2024-08-24,False,South,California,57
12573,TXN_5167298,CUST_04,Furniture,FUR,14.0,6.0,84.0,Cash,2023-12-30,True,East,Boston,51
12574,TXN_2407494,CUST_23,Food,FOOD,17.0,3.0,51.0,Cash,2022-08-06,True,South,Boston,18

In [29]:
df.to_csv("Retail Store Sales.csv",index=False)